@model BookingAppointment.ViewModels.RemoveAppointmentDTO

@{
    ViewData["Title"] = "Remove";
}

<h1>Видалити</h1>

<h3>Ви дійсно бажаєте видалити цей запис?</h3>
<div>
    <h4>Запис до лікаря</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatOfAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceOfAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummaryOfAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummaryOfAppointment)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">До переліку записів</a>
    </form>
</div>
